<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="Home"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/core.css}" />
<script th:src="@{/resources/js/jquery-latest.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">

		<div class="starter-template">
			<h2>Cette application (en mode connect&eacute;) permet de </h2>
			<ul>
				<li><h4>Lister les risques/impactes d&eacute;j&agrave; sauvegarder.</h4></li>
				<li><h4>Ajouter un nouveau risque/impacte.</h4></li>
				<li><h4>Cartographi&eacute; risque/impacte.</h4></li>
			</ul>
		</div>

	</div>
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer" />

</body>
</html>